@model Candidate.Areas.Account.Models.NewAccount 
@using Candidate.Infrustructure.Extensions

@{
    ViewBag.Title = "Candidate | First Launch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container_24 center">
    <div class="grid_18 prefix_3 suffix_3">
        <div class="sheet">
            <div class="welcome">
                <p>
                    Prepare Candidate for first launch
                </p>
            </div>
            <div class="information">
                <p>
                    Just before you entered the world on continuous deployment, we need to setup account for you. Please provide your credentials.
                </p>
            </div>
            @using(Html.BeginForm("index", "firstlaunch", FormMethod.Post, new { @class = "form clearfix", autocomplete = "off" }))
            {
                @Html.ValidationSummary()

                <fieldset>
                    <div id="login-container" class="element">                        
                        @Html.LabelFor(m => m.Login, new { @class = "bigger" })
                        @Html.TextBoxFor(m => m.Login)
                    </div>
                    <div id="password-container" class="element">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "bigger" })
                        @Html.PasswordFor(m => m.NewPassword)
                    </div>
                    <div id="confirm-password-container" class="element">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "bigger" })
                        @Html.PasswordFor(m => m.ConfirmPassword)
                    </div>

                </fieldset>

                <button type="submit" class="minimal right">Submit</button>
            }
        </div>
    </div>
</div>

@section Scripts 
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}