@model IList<Candidate.Core.Settings.Model.SiteConfiguration>
@{
    ViewBag.Title = "List";
}

@if (Model == null || Model.Count == 0)
{
    <span>No active jobs</span>
}
else
{
    foreach (var job in Model)
    {
        <div class="job clearfix">
            <span class="job-name">@Html.ActionLink(@job.JobName, "Show", new { area = "Dashboard", controller = "Overview", jobName = @job.JobName })</span>
            <span class="job-status"></span>
            <div id="buttons" class="right cleanfix">
                <button type="button" class="minimal" data-target="@Url.Action("Index", "Configuration", new { jobName = @job.JobName })">Configure</button>
                <button type="button" class="minimal" data-target="@Url.Action("Setup", "Setup", new { jobName = @job.JobName })">Deploy</button>
                <button type="button" class="minimal" data-target="@Url.Action("Delete", "Configuration", new { jobName = @job.JobName })">Delete</button>
            </div>          
        </div>
         
    }
}