@model IList<Candidate.Core.Settings.Model.SiteConfiguration>
@{
    ViewBag.Title = "List";
}

@if (Model == null || Model.Count == 0)
{
    <span>No active jobs</span>
}
else
{
    foreach (var job in Model)
    {
        <div class="job clearfix">
            <span class="job-name">@job.JobName</span>
            <span class="job-status"></span>
         
            <div id="buttons" class="right cleanfix">
                <button type="button" class="minimal">@Html.ActionLink("Config", "Index", new { area = "Dashboard", controller = "Configuration", jobName = @job.JobName })</button>
                <button type="submit" class="minimal">@Html.ActionLink("Setup", "Setup", new { area = "Dashboard", controller = "Setup", jobName = @job.JobName })</button>
                <button type="submit" class="minimal" >@Html.ActionLink("Delete", "Delete", new { area = "Dashboard", controller = "Configuration", jobName = @job.JobName })</button>
            </div>          
        </div>
         
    }
}