@model IList<Candidate.Areas.Dashboard.Models.JobModel>
@{
    ViewBag.Title = "List";
}

@if (Model == null || Model.Count == 0)
{
    <span>No active jobs</span>
}
else
{
    foreach (var job in Model)
    {
        <div class="job clearfix">
            <span class="job-name">@job.Name</span>
            <span class="job-status"></span>
         
            <div id="buttons" class="right cleanfix">
                <button type="button" class="minimal">@Html.ActionLink("Configure", "Configure", new { area = "Dashboard", controller = "Configuration", jobName = @job.Name })</button>
                <button type="button" class="minimal">Deploy</button>
            </div>          
        </div>
         
    }
}

@*    <table id="team-members-table">
    <thead>
        <th>
            Job Name
        </th>
        <th>
            Last Build
        </th>
        <th>
            Configure
        </th>
        <th class="narrow">
            Delete
        </th>
    </thead>
    <tbody>

        @foreach (var job in Model)
        {
            <tr>
                <td>
                    @job.Name
                </td>
                <td>
                    @job.LastRunTime
                </td>
                <td class="center">
                    <a href="@Url.Action("Configure", new { area = "Dashboard", controller = "Configuration", jobName = @job.Name })">Configure</a>
                </td>
                <td class="center">
                    <a href="@Url.Action("Delete", new { jobName = @job.Name })">X</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
*@
