@model IList<Candidate.Core.Model.Configurations.Configuration>
@{
    ViewBag.Title = "List";
}

@if (Model == null || Model.Count == 0)
{
    <span>No sites</span>
}
else
{
    foreach (var job in Model)
    {
        <div class="job clearfix">
            <span class="job-name">@Html.ActionLink(@job.ReadableName, "Show", new { controller = "Overview", jobName = @job.Id })</span>
            
            <span class="job-status"></span>
            <div id="buttons" class="right cleanfix">
                <button type="button" class="minimal" data-target="@Url.Action("Index", "Configuration", new { id = @job.Id })">Configure</button>
                <button type="button" class="minimal" data-target="@Url.Action("Setup", "Setup", new { id = @job.Id })">Deploy</button>
                <button type="button" class="minimal" data-target="@Url.Action("Delete", "Configuration", new { id = @job.Id })">Delete</button>
            </div>          
        </div>
         
    }
}