@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/jquery.fancybox-1.3.4.css")" rel="stylesheet" type="text/css" />

@RenderSection(name: "Styles", required: false)

<header class="clearfix">
    <div class="container_24">
        <div id="logo">
            @Html.ActionLink("Candidate", "Index", new { area = "Dashboard", controller = "Dashboard" } )
        </div>
        <nav class="header-menu">
            <ul>
                <li><a href="#">Faq</a></li>
                <li id="account"><a href="#">Account</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="/">Sign out</a></li>
            </ul>
        </nav>
    </div>
</header>
<div id="content" class="container_24">
    @RenderBody()

    <script src="@Url.Content("~/Scripts/jquery.easing-1.3.pack.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.mousewheel-3.0.4.pack.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.fancybox-1.3.4.pack.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/dialog.js")" type="text/javascript"></script>
    
    @RenderSection(name: "Scripts", required: false)
</div>
<footer>
    <div class="container_24">
    Sources of this application is available on <a href="#">github</a>
    </div>
</footer>
