@{
    ViewBag.Title = "Candidate| Login";
}
@model TeamViewer.Economic.Demo.Models.LoginModel

@section Styles {
}           


<div id="bg">
    <div id="content" class="container_24">
        <div id="container" class="grid_12 prefix_6 suffix_6">
            <div id="login-box">
                <div id="login-welcome">
                    <p>Welcome to Candidate</p>
                </div>
                <div id="information">
                    <p>
                        Please enter yours login and password</p>
                </div>
                <div class="line">
                </div>
                @using (Html.BeginForm("login", "login", FormMethod.Post, new { id = "login-form", @class = "clearfix" }))
                {            
                    @Html.ValidationSummary();
            
                    <fieldset>
                        <div id="login-label">
                            @Html.LabelFor(m => m.Login)
                        </div>
                        <div id="login-input">
                            @Html.TextBoxFor(m => m.Login)
                        </div>
                        <div id="password-label">
                            @Html.LabelFor(m => m.Password)
                        </div>
                        <div id="passoword-input">
                            @Html.PasswordFor(m => m.Password)
                        </div>
                    </fieldset>
            
                    <button type="submit" value="Login" class="minimal right">Login</button>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
}