@model Candidate.Areas.Dashboard.Models.GithubModel

<h2>Github repository configuration</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary();
                                   
    <fieldset>
        <div id="github-url-label">
            @Html.LabelFor(m => m.Url)
        </div>
        <div id="github-url-input">
            @Html.TextBoxFor(m => m.Url)
        </div>
        <div id="github-branch-label">
            @Html.LabelFor(m => m.Branch)
        </div>
        <div id="github-branch-input">
            @Html.TextBoxFor(m => m.Branch)
        </div>

        <button type="submit" class="minimal">Save config</button>
        <button type="reset" class="minimal">Reset</button>    
    </fieldset>
}