@model Candidate.Core.Settings.Model.Iis
@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Unobtrusive.cshtml";
}
<div class="dialog">
@using (Html.BeginForm())
{
    @Html.ValidationSummary();
                                   
    <fieldset>
        <legend>IIS site configuration</legend>
        <div id="iis-name">
            @Html.LabelFor(m => m.SiteName)
            @Html.TextBoxFor(m => m.SiteName)
        </div>
        <div id="port-number">
            @Html.LabelFor(m => m.Port)
            @Html.TextBoxFor(m => m.Port)
        </div>
        <div id="deploy-dolder">
            @Html.LabelFor(m => m.DeployFolder)
            @Html.TextBoxFor(m => m.DeployFolder)
        </div>
    </fieldset>

    <div class="right">
        <button type="submit" class="minimal">Save config</button>
        <button id="close" type="button" class="minimal">Close</button>    
    </div>
}
</div>