@model Candidate.Core.Settings.Model.Solution
           
@using (Html.BeginForm()) {
    @Html.ValidationSummary();
                                   
    <fieldset>
        <legend>Visual Studio solution configuration</legend>
        <div id="solution-name">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div id="webproject-name">
            @Html.LabelFor(m => m.WebProject)
            @Html.TextBoxFor(m => m.WebProject)
        </div>
        <div id="nunit-name">
            @Html.LabelFor(m => m.IsRunTests)
            @Html.CheckBoxFor(m => m.IsRunTests)
        </div>
    </fieldset>

    <div class="clear"></div>    
    <button type="submit" class="minimal">Save config</button>
    <button type="reset" class="minimal">Reset</button>    
}