@model Candidate.Core.Settings.Model.Solution
@using Candidate.Infrustructure.Extensions;
@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Unobtrusive.cshtml";
}
<div class="dialog">
@using (Html.BeginForm()) {
    @Html.ValidationSummary();
                                   
    <fieldset>
        <legend>Visual Studio solution configuration</legend>
        <div id="solution-name">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div id="webproject-name">
            @Html.LabelFor(m => m.WebProject)
            @Html.TextBoxFor(m => m.WebProject)
        </div>
        <div id="config-select">
            @Html.LabelFor(m => m.Configurations)
            @Html.DropDownListFor(m => m.SelectedConfiguration, Model.Configurations)
        </div>
        <div id="targets-select">
            @Html.LabelFor(m => m.Targets)
            @Html.DropDownListFor(m => m.SelectedTarget, Model.Targets)
        </div>
        <div id="nunit-select">
            @Html.LabelFor(m => m.NUnitRuntimeVersions)
            @Html.DropDownListFor(m => m.SelectedNUnitRuntimeVersion, Model.NUnitRuntimeVersions)
        </div>
        <div id="nunit-name">
            @Html.LabelFor(m => m.IsRunTests)
            @Html.CheckBoxFor(m => m.IsRunTests)
        </div>
    </fieldset>

    <div class="right">
        <button type="submit" class="minimal">Save config</button>
        <button id="close" type="button" class="minimal">Close</button>    
    </div>
}
</div>