@using Candidate.Infrustructure.Extensions
@model Candidate.Areas.Dashboard.Models.NewConfigurationModel
@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Unobtrusive.cshtml";
}

<div id="add-job" class="grey-container">
    <button id="close-button" class="clean-grey right">X</button>    
    <div class="dialog">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary();
    
            <fieldset>
                <div id="job-name">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name)
                </div>
                <div id="configuration-type">
                    @Html.LabelFor(m => m.Types)
                    @Html.DropDownListFor(m => m.SelectedType, Model.Types)
                </div>
            </fieldset>                      
        
            <button id="submit" type="submit" class="minimal">Add</button>
        } 
    </div>
</div>