@{
    ViewBag.Title = "Configure | Visual Studio";
    Layout = "~/Areas/Configuration/Views/Shared/_Configure.cshtml";    
}

<div class="configuration-line">
    <div id="pre-configuration" class="configuration-box" data-source="@Url.Action("Pre", new { controller = "Configuration", jobName = ViewBag.JobName })">
        <p>
            PRE
        </p>
    </div>
    <div id="scm-configuration" class="configuration-box" data-source="@Url.Action("Github", new { controller = "Configuration", jobName = ViewBag.JobName })">
        <p>
            GITHUB
        </p>
    </div>
    <div id="vs-configuration" class="configuration-box" data-source="@Url.Action("Solution", new { controller = "Configuration", jobName = ViewBag.JobName })">
        <p>
            VS
        </p>
    </div>
    <div id="iis-configuration" class="configuration-box" data-source="@Url.Action("Iis", new { controller = "Configuration", jobName = ViewBag.JobName })">
        <p>
            IIS
        </p>
    </div>
    <div id="post-configuration" class="configuration-box" data-source="@Url.Action("Post", new { controller = "Configuration", jobName = ViewBag.JobName })">
        <p>
            POST
        </p>
    </div>
</div>
